doctype html
html
  head
    title Imran Coaching Classes
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/My project-1 (1).png")
            
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Classes Info]
            li #[a(href="/") Contact Us]
    block content
    footer#footer
        h3 Copyright © 2023 ImranCoachingClass.com | All Rights Reserved 
