doctype html
html
  head
    title Imran Coaching Classes
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/My project-1 (1).png")
            
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Classes Info]
            li #[a(href="/") Contact Us]
    section#introSection
        div Welcome to Imran Coaching Classes
        div Eat sleep Study repeat 
    section#Ourmission
        h2 Our teachers
        div.card1
           
        div.card2
           
        div.card3
               
    section#sponsorsSection
        h2 Our Services
        div#services
            img(src="/static/physicspn.png", alt="services", class="servicesimg")
            img(src="/static/chemmmpn.png", alt="services", class="servicesimg2")
            img(src="/static/mathspn.png", alt="services", class="servicesimg3")
            img(src="/static/biopn.png", alt="services", class="servicesimg4")

    footer#footer
        h3 Copyright © 2023 ImranCoachingClass.com | All Rights Reserved        
    script
        include ../static/index.js    